
header {
    background-color:orangered;
    padding-top: 5px;
}

.navigationBarStyleElement {
    display:block;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 10px;
    margin-right: 5px;
}